USE [master]
GO
/****** Object:  Database [StockManagement]    Script Date: 8/1/2018 3:04:26 AM ******/
CREATE DATABASE [StockManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\StockManagement.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StockManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\StockManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockManagement]
GO
/****** Object:  Table [dbo].[Category_tbl]    Script Date: 8/1/2018 3:04:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category_tbl](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company_tbl]    Script Date: 8/1/2018 3:04:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company_tbl](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item_tbl]    Script Date: 8/1/2018 3:04:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item_tbl](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
	[ItemCategory] [varchar](50) NOT NULL,
	[ItemCompany] [varchar](50) NOT NULL,
	[StockIn] [int] NOT NULL,
	[StockOut] [int] NOT NULL,
	[Reorder] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_tbl]    Script Date: 8/1/2018 3:04:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_tbl](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category_tbl] ON 

INSERT [dbo].[Category_tbl] ([CategoryId], [CategoryName]) VALUES (1, N'Drinks')
INSERT [dbo].[Category_tbl] ([CategoryId], [CategoryName]) VALUES (2, N'Cakes')
INSERT [dbo].[Category_tbl] ([CategoryId], [CategoryName]) VALUES (3, N'Chips')
SET IDENTITY_INSERT [dbo].[Category_tbl] OFF
SET IDENTITY_INSERT [dbo].[Company_tbl] ON 

INSERT [dbo].[Company_tbl] ([CompanyID], [CompanyName]) VALUES (1, N'Pr')
INSERT [dbo].[Company_tbl] ([CompanyID], [CompanyName]) VALUES (2, N'Pran')
INSERT [dbo].[Company_tbl] ([CompanyID], [CompanyName]) VALUES (3, N'Bombey')
SET IDENTITY_INSERT [dbo].[Company_tbl] OFF
SET IDENTITY_INSERT [dbo].[Item_tbl] ON 

INSERT [dbo].[Item_tbl] ([ItemID], [ItemName], [ItemCategory], [ItemCompany], [StockIn], [StockOut], [Reorder]) VALUES (9, N'black', N'coffie', N'Nestle', 0, 0, 0)
INSERT [dbo].[Item_tbl] ([ItemID], [ItemName], [ItemCategory], [ItemCompany], [StockIn], [StockOut], [Reorder]) VALUES (10, N'danCake', N'Cakes', N'Pran', 3, 0, 0)
INSERT [dbo].[Item_tbl] ([ItemID], [ItemName], [ItemCategory], [ItemCompany], [StockIn], [StockOut], [Reorder]) VALUES (11, N'potato', N'Chips', N'Bombey', 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Item_tbl] OFF
SET IDENTITY_INSERT [dbo].[User_tbl] ON 

INSERT [dbo].[User_tbl] ([UserId], [UserName], [Password]) VALUES (1, N'1', N'1')
SET IDENTITY_INSERT [dbo].[User_tbl] OFF
ALTER TABLE [dbo].[Item_tbl] ADD  CONSTRAINT [DF_Item_tbl_StockIn]  DEFAULT ((0)) FOR [StockIn]
GO
ALTER TABLE [dbo].[Item_tbl] ADD  CONSTRAINT [DF_Item_tbl_StockOut]  DEFAULT ((0)) FOR [StockOut]
GO
ALTER TABLE [dbo].[Item_tbl] ADD  CONSTRAINT [DF_Item_tbl_Reorder]  DEFAULT ((0)) FOR [Reorder]
GO
USE [master]
GO
